<h1>All projects:</h1>

<ul>
  <% @projects.each do |project| %>
  </br><li><%= project.name %></li>
    <ul>
      <% project.tasks.each do |task| %>
      <li><%= task.name %></li>
      <% end %>
    </ul>
  <% end %>
</ul>