// VARIABLES
$headings: 'Permanent Marker', cursive;
$body: 'Roboto', Helvetica, sans-serif;
$blue: #2574A9;
$navy: #22313F;
$yellow: #fed136;
$light: #C5EFF7;
$red: #F22613;
$white: white;
$green: #00B16A;

// @import "font-awesome-sprockets";
// @import "font-awesome";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background-color: $navy;
  color: white;
  font-family: $body;
}

header h1 {
  text-align: center;
}

header p {
  position: absolute;
  top: 0;
  left: 20;
  margin: 20px;
  color: rgba(250,250,250,0.5);
}

.fa-home {
  margin: 10px;
}

h1 {
  font-size: 3em;
  font-family: $headings;
  color: $white;
  text-transform: uppercase;
}

a {
  color: $light;
  text-decoration: none;
}

ul {
  padding: 0px;
}

ul.main_index {
  margin: auto;
  text-align: center;
}

li {
  list-style: none;
  padding: 0px;
}

i {
  margin-right: 2px;
}

hr.divider {
  padding: 0;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.divider:after {
  content: "\f044";
  display: inline-block;
  position: relative;
  top: -0.5em;
  padding: 0 0.25em;
  font-family: FontAwesome;
  font-size: 2em;
}

hr.divider {
  border-color: $white;
}

hr.divider:after {
  color: $white;
  background-color: $navy;
  vertical-align: middle;
}

.greeting {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  text-align: right;
  padding: 15px;
  width: 200px;
}

.greeting a, .add-task {
  padding: 10px;
  display: inline-block;
  @include border-radius(10px);
  margin: 5px;
}

.greeting a:hover, .add-task:hover {
  background-color: $light;
  color: $navy;
}

.add-task {
  position: absolute;
  font-weight: bold;
  vertical-align: bottom;
  background-color: $light;
  color: $navy;
}

.add-task:hover {
  background-color: white;
}

.alert {
  background-color:  white;
  box-sizing:        border-box;
  margin:            auto;
  min-height:        4em;
  padding:           2em;
  width:             50rem;
}

.alert-info {
  color:  green;
}

#error_explanation {
  background-color:  red;
  box-sizing:        border-box;
  color:             white;
  margin:            auto;
  min-height:        4em;
  padding:           2em;
  width:             50rem;
}

.field {
  background-color:  white;
  border:            1px dotted #ddd;
  box-sizing:        border-box;
  margin:            2em;
  padding:           2em;
}

.actions {
  background-color:  white;
  border:            1px dotted #bbb;
  box-sizing:        border-box;
  margin:            2em;
  padding:           2em;

  input[type=submit] {
    padding:          1em;
    background:       #22aaff;
    border:           0 none;
    border-radius:    1em;
    color:            white;
    font-size:        1.2em;
  }
}

.dropdown {
  margin: auto;
  text-align: center;
}

.dropdown h2, .dropdown form{
  display: inline-block;
  font-family: $headings;
}

#filter {
  border: 0px;
  text-align: center;
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background: $light url(arrow_down.png) no-repeat 90% center;
  width: 150px; /*Width of select dropdown to give space for arrow image*/
  margin: 20px;
  color: $navy;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
}

.project_name {
  width: 20%;
  margin: 10px;
  height: 240px;
  display: inline-block;
  border: 3px solid white;
  vertical-align: top;
  @include border-radius(15px);
}

.project {
  text-align: center;
  padding: 5px 0;
  color: $navy;
  background-color: white;
  @include border-radius(10px 10px 0 0);
}

div.todo {
  background-color: $red;
}

div.done {
  background-color: $green;
}

div.doing {
  background-color: $yellow;
}

.project_name h3 {
  text-transform: uppercase;
  display: inline;
}

i {
  display: inline;
  width: 10px;
}

.fa {
  padding-right: 5px;
}

.fa-check-square, .fa-check {
  color: $green;
}

.fa-bolt {
  color: $yellow;
}

.fa-times {
  color: $red;
}

.task_text {
  padding: 5px 10px;
  text-align: left;
}

.dropdown input {
  display: block;
}

.dropdown input[type="text"],
.dropdown input[type="password"] {
  font-size: 1em;
  padding: 5px;
  border: 0px;
  color: $navy;
  width: 300px;
}

.dropdown input[type="text"]:focus,
.dropdown input[type="password"]:focus {
  border: 1px solid $light;
  box-shadow: none;
}

.dropdown input[type="text"]:hover,
.dropdown input[type="password"]:hover {
  border: 2px solid $light;
  box-shadow: none;
}

.dropdown .save {
  background-color: $light;
  color: $navy;
  border: 0px;
  padding: 10px;
  font-size: 1.2em;
  @include border-radius(5px);
  text-align: center;
  margin: 10px auto;
  cursor: pointer;
}

.dropdown .save:hover {
  background-color: $white;
  color: $navy;
}

.task_form input {
  display: inline-block;
}
.task_label {
  font-size: 1.5em;
}

a.sign_up {
  text-align: center;
  display: block;
}
