body {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	background-color: #373B44;
	color: white;
	max-width: 1200px;
	width: 80%;
	margin: auto;
	line-height: 1.5em;
}

h1 {
	padding: 20px;
	background-color: #9b59b6;
	color: white;
}

.project_name{
	margin-top: 20px;
}

.todo {
	background-color: #c0392b;
}

.doing {
	background-color: #f1c40f;
}

.done {
	background-color: #2ecc71;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}