<% content_for :title, "Goodbye! See you soon!" %>
<hr class='divider'>

<div class='dropdown'>
  <%= link_to "Log-in again?", new_session_path, :class=>"save" %>
  <!-- <button><%= link_to "Log-in again?", new_session_path, :class=>"save" %></button> -->
</div>
